@tailwind base;
@tailwind components;
@tailwind utilities;

.link-side-bar-active::after {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background-color: #4318FF;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    color: #4318FF;
}

.link-side-bar {
    @apply flex items-center px-3 py-2 text-gray-400 transition-colors duration-300 transform rounded-lg dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700;
}
